# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# IDE & Code editors
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.idea

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Environment
# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
.dockerfile
compose.yml
e2e.Dockerfile
test_server.Dockerfile
app.Dockerfile
Dockerfile
.air.toml